<div class="body">
    <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
        <div
            style="display: flex;background-color: rgba(51, 51, 51, 0.9);width: 400px;height: 500px;border-radius: 15px;justify-content: center;">
            <div style="display: flex;flex-direction: column;align-items: center;margin-top: 30px;">
                <mat-icon fontIcon="home" style="color:rgb(255, 255, 255); font-size: 25px;" [routerLink]="['/']"></mat-icon>
                <h1 style="color: rgb(255, 148, 184);font-size: 50px;">Login</h1>
                <p style="color: aliceblue;margin-top: -25px;">Enter your information</p>

                <input type="text" placeholder="Username" [(ngModel)]="loginObj.username"
                    style="padding: 10px;margin-bottom: 10px;width: 280px;height: 30px; border-radius: 5px;border: 1px solid #ccc;margin-top: 30px;">
                <input type="password" placeholder="Password" [(ngModel)]="loginObj.password"
                    style="padding: 10px;margin-bottom: 10px;width: 280px;height: 30px; border-radius: 5px;border: 1px solid #ccc;margin-top: 30px;">

                <button (click)="loGin()"
                    style="padding: 10px 20px;background-color: rgb(255, 148, 184);color: white;border: none;border-radius: 5px;cursor: pointer;margin-top: 20px;">Login</button>


                <div style="display: flex;flex-direction: row;">
                    <p style="color: aliceblue;">Don't have an account?</p>
                    <p style="color: rgb(255, 148, 184); margin-left: 10px;" [routerLink]="['/signup']">Sign up</p>
                </div>
            </div>
        </div>
    </div>
</div>