<div class="body">

    <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <div style="width: 20%; display: flex; align-items: center; margin-left: 30px;flex-direction: column;">
            <img src="/assets/img/icon/LogoAnidex.png" alt="" style="width: 50%;">
        </div>
        <div
            style="width: 35%; display: flex; align-items:center; justify-content: space-between; color: white;margin-right: 50px;">
            <button mat-button style="font-weight: bolder;font-size: 20px;color: rgb(255, 148, 184);"
                [routerLink]="['/']">HOME</button>
            <button mat-button style="font-weight: bolder;font-size: 20px;color: aliceblue;"
                [routerLink]="['/vote']">VOTE</button>
            <button mat-button style="font-weight: bolder;font-size: 20px;color: rgb(255, 148, 184);"
                [routerLink]="['/top10']">Top 10</button>
            <ng-container *ngFor="let user of userdata">
                <ng-container *ngIf="user.type == 'admin'">
                    <button mat-button style="font-weight: bolder;font-size: 20px;color: rgb(0, 162, 255);text-shadow: 0 0px 20px rgb(255, 255, 255);"
                        [routerLink]="['/userlist']">User List</button>
                </ng-container>
            </ng-container>
            <button mat-button style="font-weight: bolder;font-size: 20px;color: rgb(255, 255, 255);"
                (click)="logOut()">Logout</button>

        </div>
    </div>

    <div style="display: flex;justify-content: center;height: 80%;">
        <div
            style="display: flex;background-color: rgba(51, 51, 51, 0.9);width: 1200px;height: 650px; border-radius: 15px; flex-direction: column;margin-top: -20px;">
            <div style="display: flex;flex-direction: row;margin-top: 40px; justify-content: center; height: 200px;"
                *ngFor="let user of userdata">
                <div class="circle-img">
                    <img [src]="user.imguser ? user.imguser : 'https://cdn-icons-png.flaticon.com/512/3541/3541871.png'"
                        alt="" [routerLink]="['/profile']">
                </div>
                <div style="display: flex;flex-direction: column;margin-left: 20px;margin-top: -20px;">
                    <h1 style="color: rgb(255, 148, 184);">{{user.username}}</h1>
                    <button
                        style="padding: 10px 20px;background-color: rgb(255, 148, 184);color: white;border: none;border-radius: 5px;cursor: pointer;width: 150px;font-weight: bolder;"
                        type="button" (click)="openPopupProfileEdit(user.uid)">แก้ไขโปรไฟล์</button>
                    <div class="popupProfileEdit" id="popupProfileEdit">
                        <h2>แก้ไขโปรไฟล์</h2>
                        <ng-container *ngFor="let userUID of userdata">
                            <p>Choose Files to Change</p>
                            <div class="circle-img-container">
                                <img class="circle-img-popup" *ngIf="!fileUrl" src="{{userUID.imguser}}" alt="">
                                <img class="circle-img-popup" *ngIf="fileUrl" [src]="fileUrl" alt="Uploaded Image">
                            </div>
                            <div class="file-input-container">
                                <input type="file" #fileUpload (change)="onFileSelectedChangeProfile($event)" />
                            </div>
                            <div class="input-fields-container">
                                <div class="input-field">
                                    <label for="username">Username:</label>
                                    <input type="text" id="username" name="username" required
                                        [(ngModel)]="usernameedit">
                                </div>
                                <div class="input-field">
                                    <label for="password">Password:</label>
                                    <input type="password" id="password" name="password" required
                                        [(ngModel)]="passwordedit">
                                </div>
                                <div class="input-field">
                                    <label for="confirmPassword">Confirm Password:</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" required
                                        [(ngModel)]="confirmpasswordedit">
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngFor="let userUID of userdata">
                            <button class="button" type="button" (click)="editprofile(userUID.uid)">Change</button>
                            <button class="button" type="button" (click)="closePopupProfileEdit()">Close</button>
                        </ng-container>
                    </div>

                </div>
            </div>

            <div style="display: flex;justify-content: center;margin-top: -20px;">
                <mat-divider style=" background-color: rgb(255, 255, 255);width: 1100px;height: 1px;"></mat-divider>
            </div>
            <div style="display: flex;margin-left: 100px;">
                <h1 style="color: aliceblue;">My Picture</h1>
                <button
                    style="background-color: gray;color: white;border: none;border-radius: 20px;cursor: pointer;width: 100px;height: 30px;margin-left: 5px; margin-top: 28px;"
                    type="submit" class="btn" (click)="openPopup()">Upload Picture</button>
                <div class="popup" id="popup">
                    <h2>Upload Picture</h2>
                    <p>Chose Files to Upload</p>
                    <img *ngIf="fileUrl" [src]="fileUrl" alt="Uploaded Image"
                        style="max-width: 100%; max-height: 200px;">
                    <div style="margin-top: 10px;">
                        <input type="file" #fileUpload (change)="onFileSelected($event)" />
                    </div>
                    <button
                        style="padding: 10px 20px;background-color: rgb(255, 148, 184);color: white;border: none;border-radius: 5px;cursor: pointer;width: 150px;font-weight: bolder;margin-top: 10px;margin-left: 10px;"
                        class="button" type="button" (click)="uploadImageAnime()">Upload</button>
                    <button
                        style="padding: 10px 20px;background-color: rgb(255, 148, 184);color: white;border: none;border-radius: 5px;cursor: pointer;width: 150px;font-weight: bolder;margin-top: 10px;margin-left: 10px;"
                        class="button" type="button" (click)="closePopup()">Close</button>
                </div>

                <button
                    style="background-color: gray;color: white;border: none;border-radius: 5px;cursor: pointer;width: 100px;font-weight: bolder;height: 40px;margin-top: 20px; margin-left: 60%;"
                    [routerLink]="[]">My Ranking</button>
            </div>

            <div style="display: flex;margin-top: 15px;justify-content: center;">
                <ng-container *ngFor="let img of imageUrl; let i = index">
                    <ng-container *ngFor="let user of userdata">
                        <div style="display:flex; flex-direction: column;">
                            <img *ngIf="user.uid === img.uid" src="{{img.imganime}}" alt=""
                                style="width: 180px; height: 280px; margin: 0 18px; border-radius: 20px; border: 4px solid rgb(255, 148, 184);">

                            <div *ngIf="user.uid === img.uid"
                                style="display:flex; flex-direction: column; position: absolute; margin-top: 220px; margin-left: 170px;">
                                <mat-icon aria-hidden="false" aria-label="Change picture icon" fontIcon="change_circle"
                                    style="color: white; font-size: 26.7px; margin-bottom: 5px;"
                                    (click)="openPopupChange(img.pid)"></mat-icon>

                                <mat-icon aria-hidden="false" aria-label="Delete picture icon" fontIcon="delete"
                                    style="color: white; font-size: 26.7px;"
                                    (click)="confirmDelete(img.pid)"></mat-icon>

                                <div class="popupchange" id="popupchange">
                                    <h2>Change Picture</h2>
                                    <p>Choose Files to Change</p>
                                    <ng-container *ngFor="let imgpid of imageDatabyPID">
                                        <img *ngIf="!fileUrl" src="{{imgpid.imganime}}" alt=""
                                            style="max-width: 100%; max-height: 200px;">

                                        <img *ngIf="fileUrl" [src]="fileUrl" alt="Uploaded Image"
                                            style="max-width: 100%; max-height: 200px;">

                                        <div style="margin-top: 10px;">
                                            <input type="file" #fileUpload (change)="onFileSelectedChange($event)" />
                                        </div>

                                        <button
                                            style="padding: 10px 20px;background-color: rgb(255, 148, 184);color: white;border: none;border-radius: 5px;cursor: pointer;width: 150px;font-weight: bolder;margin-top: 10px;margin-left: 10px;"
                                            class="button" type="button"
                                            (click)="uploadImageAnimeForChange(imgpid.pid)">Change</button>

                                        <button
                                            style="padding: 10px 20px;background-color: rgb(255, 148, 184);color: white;border: none;border-radius: 5px;cursor: pointer;width: 150px;font-weight: bolder;margin-top: 10px;margin-left: 10px;"
                                            class="button" type="button" (click)="closePopupChange()">Close</button>
                                    </ng-container>


                                </div>
                            </div>


                            <p *ngIf="user.uid === img.uid" style="color: #fff;margin-left: 70px;">score:{{img.score}}
                            </p>
                        </div>
                    </ng-container>
                </ng-container>
            </div>



        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgba(255, 148, 184)" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: rgb(255, 148, 184)">Loading...</p>
</ngx-spinner>