<div class="body">
    <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <div style="width: 20%; display: flex; align-items: center; margin-left: 30px;flex-direction: column;">
            <img src="https://ng-hw-1.firebaseapp.com/assets/images/icon.png" alt="" style="width: 28%;">
            <p style="font-size: 80%; font-weight: bold; color: white;">ANI DEX</p>
        </div>
        <div
            style="width: 15%; display: flex; align-items:center; justify-content: space-between; color: white;margin-right: 50px;">
            <button mat-button style="font-weight: bolder;font-size: 20px;color: rgb(255, 148, 184);">Top 10</button>
            <button mat-button style="font-weight: bolder;font-size: 20px;color: aliceblue;"
                [routerLink]="['/login']">Login</button>
        </div>
    </div>
    <div style="display: flex;width: 1000px;margin-left: 230px;">
        <div style="display: flex;flex-direction: column;">
            <div style="display: flex;font-weight: bolder;font-size: 90px;">
                <p style="color: aliceblue;">ANIME</p>
                <p style="color: rgb(255, 148, 184); margin-left: 10px;">VOID</p>
            </div>
            <div style="color: aliceblue;width: 450px;margin-left: 30px;font-size: 20px;margin-top: -90px;">
                <p>ท่านสามารถโหวตอนิเมะที่ท่านชื่นชอบได้
                    และท่านสามารถอัพโหลดรูปภาพอนิเมะที่ท่านชื่นชอบเพื่อให้สมาชิกท่านอื่นช่วยกันโหวตได้</p>
                <p>ร่วมกันโหวต "อนิเมะยอดนิยมแห่งปี 2024"</p>
                <p style="color: rgb(255, 148, 184);" [routerLink]="['/login']">***โปรดเข้าสู่ระบบ
                    เพื่อเข้าสู่เว็บไซส์***
                </p>
            </div>
        </div>


    </div>
</div>