.body {  margin: 0; 
    height: 100%;
    font-family: Roboto, "Helvetica Neue",sans-serif; 
    background-image: url(/assets/img/background/bg_log.png);
    background-position: 0px;
    background-size: cover;
    background-attachment: fixed; 
}