/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-position: 0px;
    background-size: cover;
    background-attachment: fixed;
}


//https://wallpapercosmos.com/w/full/2/5/2/1621508-3840x2160-desktop-4k-sword-art-online-wallpaper.jpg